
.about-section{
padding:100px 0;
background: linear-gradient(135deg,#44c0c7,#2fa3b4);
color:white;
}


/* TITLE */

.about-title{
font-size:60px;
font-weight:700;
margin-bottom:20px;
}


/* BUTTON */

.mantra-btn{
background:transparent;
border:1px solid rgba(255,255,255,0.5);
padding:10px 25px;
border-radius:30px;
color:white;
margin-bottom:25px;
}


/* TEXT */

.about-text{
color:rgba(255,255,255,0.85);
line-height:1.8;
margin-bottom:20px;
}


/* CARD */

.stats-box{
background:rgba(255,255,255,0.15);
padding:40px;
border-radius:20px;
backdrop-filter: blur(10px);
box-shadow:0 10px 30px rgba(0,0,0,0.1);
}


/* ICON */

.stat-item i{
font-size:35px;
margin-bottom:10px;
}


/* NUMBERS */

.stat-item h3{
font-size:28px;
font-weight:700;
margin-bottom:5px;
}


/* TEXT */

.stat-item p{
font-size:14px;
opacity:0.8;
}

.mission-section{
padding:80px 0;
background:#eef7fb;
}

.section-title{
font-size:34px;
font-weight:700;
margin-bottom:15px;
color:#2c3e50;
}

.mission-text{
color:#6c7a89;
margin-bottom:30px;
max-width:600px;
}

.mission-card{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
height:100%;
}

.mission-card h5{
font-weight:600;
margin-top:10px;
}

.mission-card p{
color:#6c7a89;
font-size:14px;
}

.icon-box{
width:45px;
height:45px;
border-radius:10px;
background:#e8f6f4;
display:flex;
align-items:center;
justify-content:center;
color:#1aa99c;
font-size:18px;
}

/* TIMELINE */

.timeline{
border-left:2px solid #cde7e4;
padding-left:20px;
margin-top:20px;
}

.timeline-item{
position:relative;
margin-bottom:25px;
}

.timeline-item::before{
content:"";
width:10px;
height:10px;
background:#1aa99c;
border-radius:50%;
position:absolute;
left:-26px;
top:6px;
}

.timeline-item h6{
font-weight:700;
}

.timeline-item p{
font-size:14px;
color:#6c7a89;
}


/* SECTION */

.commitment-section{
    background:#eaf2ef;
padding:80px 0;
}

.commitment-section-2{
    background:#eef7fb;
padding:80px 0;
}

/* IMAGE */

.commitment-img{
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}


/* TITLE */

.commitment-title{
font-size:36px;
font-weight:700;
color:#2fa3a0;
margin-bottom:15px;
}


/* TEXT */

.commitment-text{
color:#6c7a89;
line-height:1.8;
margin-bottom:25px;
}


/* LIST */

.commitment-list{
list-style:none;
padding:0;
}

.commitment-list li{
margin-bottom:12px;
font-size:16px;
color:#4a5a6a;
display:flex;
align-items:center;
gap:10px;
}


/* ICON */

.commitment-list i{
color:#2fa3a0;
font-size:18px;
}




/* CONTACT INFO */

.contact-info-section{
padding:80px 0;
background-color:white;
}

.contact-title{
font-size:40px;
font-weight:700;
margin-bottom:10px;
}

.contact-desc{
color:#6c7a89;
max-width:600px;
margin:auto;
}


/* CARDS */

.contact-card{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 50px 70px rgba(0,0,0,0.05);
transition:0.3s;
}

.contact-card:hover{
transform:translateY(-5px);
}

.contact-card i{
font-size:35px;
color:#2fa3a0;
margin-bottom:10px;
}

.contact-card h5{
font-weight:600;
}


/* FORM SECTION */

.contact-form-section{
padding:80px 0;
background-color: #eef7fb;
}
.contact-info-section-2{
padding:80px 0;
background-color: #eef7fb;
}
.form-box{
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.05);
max-width:900px;
margin:auto;
}

.form-control{
padding:12px;
border-radius:8px;
}

.submit-btn{
background:#2fa3a0;
color:white;
border:none;
padding:12px 35px;
border-radius:30px;
margin-top:10px;
}

.submit-btn:hover{
background:#238d8b;
}

.faq-section {
      padding: 60px 0;
    }
    .section-title {
      font-weight: 700;
      margin-bottom: 15px;
    }
    .accordion-button:focus {
      box-shadow: none;
    }
